.update-password-container {
    background-color: rgb(202, 186, 186);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .update-password-box {
    background-color: white;
    height: 70vh;
    width: 35rem;
    box-sizing: border-box;
    overflow: hidden;
    padding: 2rem;
  }

  .update-user-heading {
    text-align: center; 
  }

  .update-user-heading > h1 {
    display: inline-block;
    margin: 0 auto;
    width: 20rem;
    border-bottom: 1px solid tomato;
    color: grey;
  }
  

  .update-form {
    display: flex;
    flex-direction: column;
    height: 105%;
    justify-content: center;
    align-items: center;
  }
  

  .update-form > * {
    margin-bottom: 3rem;
  }

  .update-form > div > svg {
    font-size: 2rem;
    color: rgb(70, 60, 60);
    transform: translate(4rem, 0.5rem);
  }

  .form-input {
    padding: 1rem 2rem;
    padding-left: 5rem;
  }
  
  .submit-btn {
    border: none;
    padding: 1rem 4rem;
    background-color: tomato;
    border-radius: 10rem;
    color: white;
    font-size: 2rem;
    transition: all .1s ease;
  }

  .submit-btn:hover {
    filter: brightness(120%) saturate(120%);
    cursor: pointer;
  }
 
  
  @media (max-width: 600px) {
    .update-password-container {
      background-color: white;
    }
    .update-password-box {
      width: 60rem;
    }
    .update-image {
      width: 60%;
    }
    .update-form > * {
      margin-bottom: 5rem;
    }
    .form-input {
        padding: 2rem 1rem;
        padding-left: 5rem;
    }
  }